.header {
       border: 2px,2px,4px,0px solid rgb(232, 237, 232);
       text-align: center;
       background-position: center;
       color: green(112,236,112);
       text-size-adjust: 2500px;
}

.nav {
       border: 2px solid green;
       width: 1500px;
       margin-top: 5px;
       height: 200px;
       background-image: url(images/52d60df9d50cd52729838589d3bff871.jpg);
       background-position: center;
       border-image-width: auto;

}

.items{
       list-style: none;
}

a {
       text-decoration: none;
       color: rgb(245, 246, 245);
       font-size: 20px;
}

.items {
       width: 10px;
       float: center;
}

.box {
       background-color: white;
       border: 3px solid rgb(255, 248, 248) ;
       text-align-last: unset;
       color:rgb(255, 255, 255);
       background-image: url("images/IMG_20220810_154356.jpg");
       border-image-slice: initial;
       width: 1000px;
       height: 1100px;
       margin:auto;
}

#maining {
       width: 1000px;
       margin: 60px;
       border-image-slice: fill;
}

.footer {
       border: 2px solid rgb(227, 221, 221);
       text-align: center;
       background-color: rgb(255, 255, 255);
       color: rgb(17, 17, 17);
       text-size-adjust: 500px;
       border-image-width: auto;
}
.box {
       background-color: rgb(241, 229, 229);
       background-image:"images/IMG-20210805-WA0000.jpg"        
}

.h1 {
       text-align: center;
}
.h2 {
       text-align: center;
       margin-bottom: auto;
}
